body {
    font-family: Arial, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #525457;

}

form {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #020202;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}



.button-link {
    display: block;
    text-align: center;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
  }

