body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #6d6767; 
}
 
.container {
    display: flex;
    gap: 20px;
}
 
.card1 {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 200px;
}
 
.card1 img {
    width: 200px;
    height: auto;
    margin-bottom: 15px;
}
.card1 h2 {
    font-size: 1.5em;
    margin: 10px 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}
 
.card1 p {
    font-size: 15px;
    color: #666;
    font-family:Arial, Helvetica, sans-serif

}
 
.card1 button  {
    background-color: white;
    border: 2px solid #000000;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.card2 {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 200px;
}
 
.card2 img {
    width: 200px;
    height: auto;
    margin-bottom: 15px;
}
.card2 h2 {
    font-size: 1.5em;
    margin: 10px 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}
 
.card2 p {
    font-size: 15px;
    color: #666;
    font-family:Arial, Helvetica, sans-serif
}
 
.card2 button  {
    background-color: white;
    border: 2px solid #000000;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.card3 {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 200px;
}
 
.card3 img {
    width: 200px;
    height: auto;
    margin-bottom: 15px;
}
.card3 h2 {
    font-size: 1.5em;
    margin: 10px 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration:underline;
}
 
.card3 p {
    font-size: 15px;
    color: #666;
    font-family:Arial, Helvetica, sans-serif
}
 
.card3 button  {
    background-color: white;
    border: 2px solid #000000;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 
}